USE [master]
GO
/****** Object:  Database [Component]    Script Date: 12/26/2020 1:11:46 PM ******/
CREATE DATABASE [Component]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Component', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Component.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Component_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Component_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Component].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Component]
GO
/****** Object:  User [Admin]    Script Date: 12/26/2020 1:11:46 PM ******/
CREATE USER [Admin] FOR LOGIN [Admin] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Language]    Script Date: 12/26/2020 1:11:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Language](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[type] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[template]    Script Date: 12/26/2020 1:11:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[template](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Tsubject] [varchar](20) NOT NULL,
	[Tbody] [varchar](50) NOT NULL,
	[Lid] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Language] ON 

INSERT [dbo].[Language] ([id], [type]) VALUES (1, N'Arabic')
INSERT [dbo].[Language] ([id], [type]) VALUES (2, N'English')
SET IDENTITY_INSERT [dbo].[Language] OFF
SET IDENTITY_INSERT [dbo].[template] ON 

INSERT [dbo].[template] ([id], [Tsubject], [Tbody], [Lid]) VALUES (1, N'Successfull Shipping', N'Dear {x},The product {y} is confirmed', 1)
INSERT [dbo].[template] ([id], [Tsubject], [Tbody], [Lid]) VALUES (2, N'ConfirmationMail', N'Your mail is confirmed and here is your email: {x}', 1)
INSERT [dbo].[template] ([id], [Tsubject], [Tbody], [Lid]) VALUES (3, N'ForgottenPassword', N'Dear {x},Your password is reset', 2)
SET IDENTITY_INSERT [dbo].[template] OFF
ALTER TABLE [dbo].[template]  WITH CHECK ADD FOREIGN KEY([Lid])
REFERENCES [dbo].[Language] ([id])
GO
USE [master]
GO
